.conteiner{
    width: 50%;
    padding-left: 1em;
    margin: auto;
    text-align: center;
    border: 1px solid gray;
    margin-top: 55px;
}

.conteiner h1 {
    text-align: left;
    
}

.cabecera{

    border: solid #2a53ae;
    background-color: #1c2c44;
    padding: 25px;
    
}

.cabecera h1{
  color: whitesmoke;
  font-weight:300 ;
}

.cabecera #tagline{
  font-size: 15px;
  display: inline-block;
  margin-top: -150px;
  
}