.conteiner{
    width: 50%;
    padding-left: 1em;
    margin: auto;
    text-align: center;
    border: 1px solid gray;
    margin-top: 75px;
}

.conteiner h1 {
    text-align: left;
  font-size: 35px;
}